.default-color0.chart-series-line { -fx-stroke: black; }
.default-color1.chart-series-line { -fx-stroke: red; }

.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}
.default-color1.chart-line-symbol {
    -fx-background-color: red, red;
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: black;
 }
.default-color1.chart-legend-item-symbol{
    -fx-background-color: red;
 }

.default-color0.chart-area-symbol { -fx-background-color: transparent,blue; }